.flows.json.backup
[
    {
        "id": "5d079f2523d7c35a",
        "type": "tab",
        "label": "SmartNode",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "aa93ca458181faf5",
        "type": "modbus-client",
        "name": "FBS - 60MC - SE69kV",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.1.3",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "d60beda15f566b24",
        "type": "ui_tab",
        "name": "Gerenciamendo de demandas CCK 6700E",
        "icon": "Dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8118e230fcfcbc1b",
        "type": "ui_tab",
        "name": "Sepam T69 - S69kV",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9f0a77ab3f31bf74",
        "type": "ui_group",
        "name": "Fator de potencia",
        "tab": "d60beda15f566b24",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "aec291222b3aacd3",
        "type": "ui_group",
        "name": "Demanda Reativa",
        "tab": "d60beda15f566b24",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c14bcdd0bd5f4674",
        "type": "ui_group",
        "name": "Demanda Ativa",
        "tab": "d60beda15f566b24",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab3c4df214a3bf70",
        "type": "ui_group",
        "name": "69kV",
        "tab": "8118e230fcfcbc1b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "026bf07c01c32baf",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 60,
                "gy": 60,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c1d4903ed58a7e4d",
        "type": "modbus-read",
        "z": "5d079f2523d7c35a",
        "name": "Conexão Status Disjuntores SE 69kV",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "51",
        "quantity": "11",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "aa93ca458181faf5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 150,
        "y": 740,
        "wires": [
            [
                "668315a80273ca07"
            ],
            []
        ]
    },
    {
        "id": "be5aaa8da548faa2",
        "type": "debug",
        "z": "5d079f2523d7c35a",
        "name": "debug Disj",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 980,
        "wires": []
    },
    {
        "id": "668315a80273ca07",
        "type": "function",
        "z": "5d079f2523d7c35a",
        "name": "Status_Disjuntores",
        "func": "var payload = msg.payload;\n// Status do Disjuntor(52.20) de Saída do transformador 03 - TR3\nif (msg.payload[0] == \"0\"){\n    payload[0] = \"Falha de comunicaçãoT\";\n    }\n    if (payload[0] == \"1\"){\n        payload[0] = \"Ligado\";\n        }\n        if (payload[0] == \"2\"){\n            payload[0] = \"Desligado\";\n            }\n\n//Status do Disjuntor(52.21) de Saída 05 do transformador 03 - TR3\nif (msg.payload[1] == \"0\"){\n    payload[1] = \"Falha de comunicaçãoT\";\n    }\n    if (payload[1] == \"1\"){\n        payload[1] = \"Ligado\";\n        }\n        if (payload[1] == \"2\"){\n            payload[1] = \"Desligado\";\n            }\n\n//Status do Disjuntor(52.22) de Saída 06 do transformador 03 - TR3\nif (msg.payload[2] == \"0\"){\n    payload[2] = \"Falha de comunicaçãoT\";\n    }\n    if (payload[2] == \"1\"){\n        payload[2] = \"Ligado\";\n        }\n        if (payload[2] == \"2\"){\n            payload[2] = \"Desligado\";\n            }\n\n//Status do Disjuntor(52.2) de Saída do transformador 01 - TR1: \nif (msg.payload[3] == \"0\"){\n    payload[3] = \"Falha de comunicaçãoT\";\n    }\n    if (payload[3] == \"1\"){\n        payload[3] = \"Ligado\";\n        }\n        if (payload[3] == \"2\"){\n            payload[3] = \"Desligado\";\n            }\n\n//Status do Disjuntor(52.3) de Saída do transformador 02 - TR2: \nif (msg.payload[4] == \"0\"){\n    payload[4] = \"Falha de comunicaçãoT\";\n    }\n    if (payload[4] == \"1\"){\n        payload[4] = \"Ligado\";\n        }\n        if (payload[4] == \"2\"){\n            payload[4] = \"Desligado\";\n            }\n\n//Status do Disjuntor(52.4) de Saída 01 do transformador 01 - TR1:  \nif (msg.payload[5] == \"0\"){\n    payload[5] = \"Falha de comunicaçãoT\";\n    }\n    if (payload[5] == \"1\"){\n        payload[5] = \"Ligado\";\n        }\n        if (payload[5] == \"2\"){\n            payload[5] = \"Desligado\";\n        }\n\n//Status do Disjuntor(52.5) de Saída 02 do transformador 02 - TR2:   \nif (msg.payload[6] == \"0\"){\n    payload[6] = \"Falha de comunicaçãoT\";\n    }\n    if (payload[6] == \"1\"){\n        payload[6] = \"Ligado\";\n        }\n        if (payload[6] == \"2\"){\n            payload[6] = \"Desligado\";\n            }\n\n//Status do Disjuntor(52.7) de Saída 04 do transformador 02 - TR2:  \nif (msg.payload[7] == \"0\"){\n    payload[7] = \"Falha de comunicaçãoT\";\n    }\n    if (payload[7] == \"1\"){\n        payload[7] = \"Ligado\";\n        }\n        if (payload[7] == \"2\"){\n            payload[7] = \"Desligado\";\n            }\n\n//Status do Disjuntor(52.8) de Saída 03 do transformador 02 - TR2:  \nif (msg.payload[8] == \"0\"){\n    payload[8] = \"Falha de comunicaçãoT\";\n    }\n    if (payload[8] == \"1\"){\n        payload[8] = \"Ligado\";\n        }\n        if (payload[8] == \"2\"){\n            payload[8] = \"Desligado\";\n            }\n\n//Status do Disjuntor(52.23): Tala entre transformador 03 - TR3 e transformador 01 - TR1:\nif (msg.payload[9] == \"0\"){\n    payload[9] = \"Falha de comunicaçãoT\";\n    }\n    if (payload[9] == \"1\"){\n        payload[9] = \"Ligado\";\n        }\n        if (payload[9] == \"2\"){\n            payload[9] = \"Desligado\";\n            }\n\n//Status do Disjuntor(52.23): Tala entre transformador 03 - TR3 e transformador 01 - TR1:\nif (msg.payload[10] == \"0\"){\n    payload[10] = \"Falha de comunicaçãoT\";\n    }\n    if (payload[10] == \"1\"){\n        payload[10] = \"Ligado\";\n        }\n        if (payload[10] == \"2\"){\n            payload[10] = \"Desligado\";\n            }\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nmsg.payload[0] = (payload[0]);//Status do Disjuntor(52.20)\nmsg.payload[1] = (payload[1]);//Status do Disjuntor(52.21)\nmsg.payload[2] = (payload[2]);//Status do Disjuntor(52.22)\nmsg.payload[3] = (payload[3]);//Status do Disjuntor(52.02)\nmsg.payload[4] = (payload[4]);//Status do Disjuntor(52.03)\nmsg.payload[5] = (payload[5]);//Status do Disjuntor(52.04)\nmsg.payload[6] = (payload[6]);//Status do Disjuntor(52.05)\nmsg.payload[7] = (payload[7]);//Status do Disjuntor(52.07)\nmsg.payload[8] = (payload[8]);//Status do Disjuntor(52.08)\nmsg.payload[9] = (payload[9]);//Status do Disjuntor(52.23)\nmsg.payload[10] = (payload[10]);//Status do Disjuntor(52.23)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 740,
        "wires": [
            [
                "0c8856b457800f48",
                "7a88a685e0be7157",
                "52b489b9165009ec",
                "07a62e2daf4ac432",
                "ac8a2cd1a97b5b75",
                "3718e73a8e66edf0",
                "a6c04bb6fbbeffb3",
                "bae99f0d99a41dba",
                "2457e62a908190e5",
                "bb9b2729669d3cb8",
                "8e05262983682375",
                "be5aaa8da548faa2"
            ]
        ]
    },
    {
        "id": "ba01969844da3685",
        "type": "comment",
        "z": "5d079f2523d7c35a",
        "name": "Status disjuntores tripolar da SE 69kV",
        "info": "Status disjuntores tripolar da SE 69kV",
        "x": 450,
        "y": 600,
        "wires": []
    },
    {
        "id": "01c83e42857de379",
        "type": "modbus-read",
        "z": "5d079f2523d7c35a",
        "name": "Medidor PowerLogic PM5110",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "6000",
        "quantity": "5",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "aa93ca458181faf5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "7672b5c2e2408c09",
                "55b6dd185046a102",
                "aa0e9d13733fc47e"
            ],
            []
        ]
    },
    {
        "id": "7672b5c2e2408c09",
        "type": "function",
        "z": "5d079f2523d7c35a",
        "name": "Pot Ativa Total 69kV",
        "func": "var payload = msg.payload;\nmsg.payload = (payload[0]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 100,
        "wires": [
            [
                "709353ab12c4d9bc",
                "cd2f1d6a19f701a8"
            ]
        ]
    },
    {
        "id": "55b6dd185046a102",
        "type": "function",
        "z": "5d079f2523d7c35a",
        "name": "Fator de potencia 69kV",
        "func": "var payload = msg.payload;\nmsg.payload = (payload[1]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 260,
        "wires": [
            [
                "e2624b8bd3dc5e59",
                "da1f32ea5b6db3c9"
            ]
        ]
    },
    {
        "id": "aa0e9d13733fc47e",
        "type": "function",
        "z": "5d079f2523d7c35a",
        "name": "Pot Reativa Total 69kV",
        "func": "var payload = msg.payload;\nmsg.payload = (payload[2]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 400,
        "wires": [
            [
                "1607fc9ce4a62313",
                "4eb754fbb79e5a47"
            ]
        ]
    },
    {
        "id": "3aa4ad3ff91f2b92",
        "type": "comment",
        "z": "5d079f2523d7c35a",
        "name": "Leitura de Energia da Subestação 69KV - Medidor PowerLogic PM5110 ",
        "info": "Leitura de Energia da Subestação 69KV - Medidor PowerLogic PM5110 ",
        "x": 350,
        "y": 60,
        "wires": []
    },
    {
        "id": "0c8856b457800f48",
        "type": "ui_text",
        "z": "5d079f2523d7c35a",
        "group": "ab3c4df214a3bf70",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "52.20",
        "format": "{{msg.payload[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 540,
        "wires": []
    },
    {
        "id": "7a88a685e0be7157",
        "type": "ui_text",
        "z": "5d079f2523d7c35a",
        "group": "ab3c4df214a3bf70",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "52.21",
        "format": "{{msg.payload[1]}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 580,
        "wires": []
    },
    {
        "id": "52b489b9165009ec",
        "type": "ui_text",
        "z": "5d079f2523d7c35a",
        "group": "ab3c4df214a3bf70",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "52.22",
        "format": "{{msg.payload[2]}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 620,
        "wires": []
    },
    {
        "id": "07a62e2daf4ac432",
        "type": "ui_text",
        "z": "5d079f2523d7c35a",
        "group": "ab3c4df214a3bf70",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "52.02",
        "format": "{{msg.payload[3]}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 660,
        "wires": []
    },
    {
        "id": "ac8a2cd1a97b5b75",
        "type": "ui_text",
        "z": "5d079f2523d7c35a",
        "group": "ab3c4df214a3bf70",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "52.03",
        "format": "{{msg.payload[4]}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 700,
        "wires": []
    },
    {
        "id": "3718e73a8e66edf0",
        "type": "ui_text",
        "z": "5d079f2523d7c35a",
        "group": "ab3c4df214a3bf70",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "52.04",
        "format": "{{msg.payload[5]}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 740,
        "wires": []
    },
    {
        "id": "a6c04bb6fbbeffb3",
        "type": "ui_text",
        "z": "5d079f2523d7c35a",
        "group": "ab3c4df214a3bf70",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "52.06",
        "format": "{{msg.payload[6]}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 780,
        "wires": []
    },
    {
        "id": "bae99f0d99a41dba",
        "type": "ui_text",
        "z": "5d079f2523d7c35a",
        "group": "ab3c4df214a3bf70",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "52.07",
        "format": "{{msg.payload[7]}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 820,
        "wires": []
    },
    {
        "id": "2457e62a908190e5",
        "type": "ui_text",
        "z": "5d079f2523d7c35a",
        "group": "ab3c4df214a3bf70",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "52.08",
        "format": "{{msg.payload[8]}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 860,
        "wires": []
    },
    {
        "id": "bb9b2729669d3cb8",
        "type": "ui_text",
        "z": "5d079f2523d7c35a",
        "group": "ab3c4df214a3bf70",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "52.23",
        "format": "{{msg.payload[9]}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 900,
        "wires": []
    },
    {
        "id": "8e05262983682375",
        "type": "ui_text",
        "z": "5d079f2523d7c35a",
        "group": "ab3c4df214a3bf70",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "52.06",
        "format": "{{msg.payload[10]}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 940,
        "wires": []
    },
    {
        "id": "cd2f1d6a19f701a8",
        "type": "ui_gauge",
        "z": "5d079f2523d7c35a",
        "name": "",
        "group": "c14bcdd0bd5f4674",
        "order": 1,
        "width": "8",
        "height": "4",
        "gtype": "gage",
        "title": "",
        "label": "KwVAR",
        "format": "{{value}}",
        "min": 0,
        "max": "7620",
        "colors": [
            "#c2c7c2",
            "#4ad723",
            "#ff0000"
        ],
        "seg1": "3500",
        "seg2": "5000",
        "className": "",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "4eb754fbb79e5a47",
        "type": "ui_gauge",
        "z": "5d079f2523d7c35a",
        "name": "",
        "group": "aec291222b3aacd3",
        "order": 1,
        "width": "8",
        "height": "4",
        "gtype": "gage",
        "title": "",
        "label": "KwVAR",
        "format": "{{value}}",
        "min": 0,
        "max": "8000",
        "colors": [
            "#c2c7c2",
            "#4ad723",
            "#ff0000"
        ],
        "seg1": "3500",
        "seg2": "5000",
        "className": "",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "da1f32ea5b6db3c9",
        "type": "ui_gauge",
        "z": "5d079f2523d7c35a",
        "name": "",
        "group": "9f0a77ab3f31bf74",
        "order": 1,
        "width": "8",
        "height": "4",
        "gtype": "gage",
        "title": "",
        "label": "FB",
        "format": "{{value}}",
        "min": 0,
        "max": "1.65",
        "colors": [
            "#e21d27",
            "#4ad723",
            "#ff0000"
        ],
        "seg1": "0.85",
        "seg2": "1.1",
        "className": "",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "709353ab12c4d9bc",
        "type": "ui_chart",
        "z": "5d079f2523d7c35a",
        "name": "",
        "group": "c14bcdd0bd5f4674",
        "order": 2,
        "width": "8",
        "height": "4",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "8000",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1607fc9ce4a62313",
        "type": "ui_chart",
        "z": "5d079f2523d7c35a",
        "name": "",
        "group": "aec291222b3aacd3",
        "order": 2,
        "width": "8",
        "height": "4",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "8000",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "e2624b8bd3dc5e59",
        "type": "ui_chart",
        "z": "5d079f2523d7c35a",
        "name": "",
        "group": "9f0a77ab3f31bf74",
        "order": 2,
        "width": "8",
        "height": "4",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 220,
        "wires": [
            []
        ]
    }
]